body.quix-editor-active #quix-editor {
    margin-bottom: 50px;
}
#quix-editor {
    height: 300px;
    width: 100%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#quix-go-to-edit-page-link {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    text-decoration: none;
    position: relative;
    font-family: Sans-serif;
}

#quix-go-to-edit-page-link:hover {
    background-color: #fff;
}

#quix-editor-button, #quix-switch-mode-button {
    outline: none;
    cursor: pointer;
}